<mat-card>
    

    <mat-card-header>
        <div mat-card-avatar class="example-header-image">
            <img src="https://image.flaticon.com/icons/png/512/1674/1674133.png">
        </div>
        <mat-card-title>My Profile</mat-card-title>
        <mat-card-subtitle>Your awesome profile</mat-card-subtitle>
      </mat-card-header>

    <div class="profile-title"> First Name </div>
    <div class="profile-info"> {{this.user.first_name}}  </div>

    <div class="profile-title"> Last Name </div>
    <div class="profile-info"> {{this.user.last_name}}  </div>

    <div class="profile-title"> Username </div>
    <div class="profile-info"> {{this.user.username}}  </div>

    <div class="profile-title"> Email </div>
    <div class="profile-info"> {{this.user.email}}  </div>

    <div class="profile-title"> Address </div>
    <div class="profile-info"> {{this.user.address}}  </div>

    <div class="profile-title"> Phone Number </div>
    <div class="profile-info"> {{this.user.phone}}  </div>

    <div class="profile-title"> Member Since </div>
    <div class="profile-info"> {{ this.user.date_joined | date }} </div>


</mat-card>