<mat-card>
    <mat-card-title>Welcome to Awesome Clinic</mat-card-title>
    <mat-card-subtitle>The clinic of the awesomeness</mat-card-subtitle>
          
          <mat-card-title>Awesome appointments</mat-card-title>
          <mat-card-subtitle>Schedule your appointment with us in the most awesome way</mat-card-subtitle>

          <mat-card-title>Awesome Doctors</mat-card-title>
          <mat-card-subtitle>The most qualified and awesome doctors of the world.</mat-card-subtitle>
 
          <mat-card-title>Awesome Sugeries</mat-card-title>
          <mat-card-subtitle>You can get you apendix out in an awesome way</mat-card-subtitle>
      
   
</mat-card>